
@{
    ViewBag.Title = "CloudGame";
}

@Html.Partial("../Shared/StudentViews")

@{ 
    int cloudSpeed = 20;
} 


<style>
    .cloud {
        font-size: 25px;
        font-weight: 600;
        background-image: url('../Content/Images/cloud.jpg');
        width: 160px;
        height: 120px;
        background-repeat: no-repeat;
        background-size: contain;
        padding-top: 40px;
        padding-left: 55px;
        position: relative;
    }

    .moving {
        animation-name: move;
        animation-duration: @(Html.Raw(cloudSpeed))s;
    }

    /* cloud Animations */
    @@keyframes move {
        0% {
            margin-left: -5%;
            visibility: hidden;
            opacity: 0;
        }

        20% {
            margin-left: 10%;
            transform: rotateZ(10deg);
            opacity: 1;
        }

        40% {
            margin-left: 30%;
            transform: rotateZ(-10deg);
        }

        60% {
            margin-left: 50%;
            transform: rotateZ(10deg);
        }

        80% {
            margin-left: 70%;
            visibility: visible;
            transform: rotateZ(-10deg);
            opacity: 1;
        }

        100% {
            margin-left: 95%;
            visibility: hidden;
            opacity: 0;
            display: none;
        }
    }

    .input-could-game {
        width: 200px;
    }

    .input-could-game input {
        width: 200px;
        font-size: 40px;
    }

    /* Modal Classes */
    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        font-size: 15px;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 60rem;
    }

    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
</style>

<div style="width:100%; height:85%; overflow: hidden;">
    <div style="font-size:20px">
        <div style="float: left;">
            Ζωές : <span id="lifeText">0</span>
        </div>
        <div style="float: right;">
            Χρόνος :  <span id="timeText">0</span>
        </div>
        <br />
        <div style="float: left;">
            Πόντοι : <span id="pointsText">0</span>
        </div>
    </div>
    <div style="padding-top: 30px;">
        <table style= "table-layout:fixed; width:100%; height:100%;">
            <tr>
                <td style="height: 160px;">
                    <div class="cloud" id="cloud_1">
                        5x10
                    </div>
                </td>
            </tr>
            <tr>
                <td style="height: 160px;">
                    <div class="cloud" id="cloud_2">
                        5x9
                    </div>
                </td>
            </tr>
            <tr>
                <td style="height: 160px;">
                    <div class="cloud" id="cloud_3">
                        7x4
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="input-could-game" style="float:left;">
    <input id="input-box" type="text" pattern="\d*" maxlength="3">
</div>
<div id="hint-view">
    <img src="~/Content/Images/arrow.png" style="transform:rotate(180deg);float:left;margin-left:20px;margin-right:20px" width="50">
    <h3>Συμπλήρωσε τις απαντήσεις εδώ και πάτα ENTER</h3>
</div>

<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <div style="margin:auto;width: 60rem; height: 35rem; position: relative;">
            <div style="width: 20rem; left: 8rem; top: 5rem; position: absolute;z-index:10" id="modal-text">
            </div>
            <img src="../Content/Images/owl_image.png" style="right:8rem;top:0px;position:absolute;margin-top:15rem;width:15rem">
            <img src="../Content/Images/speech_bubble.png" style="left:0px;top:0px;position:absolute;width:40rem">
        </div>
        <div style="text-align:center">
            <button class="btn btn-success" id="play-again-button" onclick="location.reload();">Παίξε ξανά!</button>
            <button class="btn btn-info" id="tests-button" onclick="window.location.href = '../SimpleTest/PickTest'">Προχώρησε στα τεστ!</button>
            <button class="btn btn-primary" id="home-button" onclick="location.href = '/'">Πίσω στην Κεντρική!</button>
            <button class="btn btn-primary" id="start-game-button" onclick="startGame();">Παίξε</button>
        </div>
    </div>
</div>

@Html.Partial("../Shared/Hint")

<script>
    var cloud1 = document.getElementById("cloud_1");
    var cloud2 = document.getElementById("cloud_2");
    var cloud3 = document.getElementById("cloud_3");
    var lifeText = document.getElementById("lifeText");
    var pointsText = document.getElementById("pointsText");
    var timeText = document.getElementById("timeText");
    var lifePoints = 5;
    var points = 0;
    var cloudSpawnRate = @Html.Raw(cloudSpeed);
    lifeText.innerHTML = lifePoints;
    pointsText.innerHTML = points;

    var inputBox = document.getElementById("input-box");

    inputBox.addEventListener("keyup", function (event) {
        // Number 13 is the "Enter" key on the keyboard
        if (event.keyCode === 13) {
            // Cancel the default action, if needed
            event.preventDefault();
            checkClouds(inputBox.value);
            document.getElementById("hint-view").style.display = "none";
        }
    });
    
    cloud1.style.display = "none";
    cloud2.style.display = "none";
    cloud3.style.display = "none";

    var gameOverVar = false;

    function tick(currentTime) {
        if (gameOverVar)
            return;

        setTime(currentTime);

        if (currentTime % cloudSpawnRate == 0) {
            move(cloud3);
        }
        else if ((currentTime + 4) % cloudSpawnRate == 0) {
            move(cloud2);
        }
        else if ((currentTime + 8) % cloudSpawnRate == 0) {
            move(cloud1);
        }

        setTimeout(function () {
            currentTime += 1;
            tick(currentTime);
        }, 1000);
    }

    function move(cloud) {
        var numberOneInt = getRandomInt(10) + 1;
        var numberTwoInt = getRandomInt(10) + 1;
        cloud.innerHTML = numberOneInt + "x" + numberTwoInt;
        cloud.classList.add("moving");
        cloud.style.display = "block";
        cloud.setAttribute("value", numberOneInt * numberTwoInt);
        setTimeout(function () {
            hide(cloud);
        }, (cloudSpawnRate-1)*1000 );
    }

    function hide(cloud) {
        if (cloud.style.display != "none") {
            lifePoints--;
            lifeText.innerHTML = lifePoints;
            if (lifePoints <= 0) {
                gameOver();
            }
        }
        cloud.style.display = "none";
        cloud.classList.remove("moving");
        cloud.setAttribute("value", -1);
    }

    function gameOver() {
        cloud1.style.display = "none";
        cloud2.style.display = "none";
        cloud3.style.display = "none";
        gameOverVar = true;

        modalText.innerHTML = "Οι πόντοι ζώης σου έφτασαν το 0! Το σκορ σου είναι <span id='score-final'></span> σε " + timeText.innerHTML + ". Μπορείς να δοκιμάσεις ξανά ή να προχορήσεις στα τεστ!";
        document.getElementById("score-final").innerHTML = points;
        buttonPlayAgain.style.display = "inline";
        buttonTests.style.display = "inline";
        buttonHome.style.display = "inline";
        buttonStartGame.style.display = "none";
        modal.style.display = "block";
        inputBox.disabled = true;
    }

    function startGame() {
        tick(0);
        modal.style.display = "none";
        lifeText.innerHTML = lifePoints;
        pointsText.innerHTML = points;
    }

    function getRandomInt(max) {
        return Math.floor(Math.random() * max);
    }

    function checkClouds(value) {
        if (value == cloud1.getAttribute("value")) {
            cloud1.style.display = "none";
            points++;
            pointsText.innerHTML = points;
        }
        else if (value == cloud2.getAttribute("value")) {
            cloud2.style.display = "none";
            points++;
            pointsText.innerHTML = points;
        }
        else if (value == cloud3.getAttribute("value")) {
            cloud3.style.display = "none";
            points++;
            pointsText.innerHTML = points;
        }
        inputBox.value = "";
    }

    function setTime(currentTime) {
        var sec = currentTime % 60;
        var min = Math.floor(currentTime / 60);
        sec = sec.toLocaleString('en-US', {
            minimumIntegerDigits: 2,
            useGrouping: false
        });
        min = min.toLocaleString('en-US', {
            minimumIntegerDigits: 2,
            useGrouping: false
        })
        timeText.innerHTML = min + ":" + sec;
    }

    var modalText = document.getElementById("modal-text");

    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    //modal button
    var buttonPlayAgain = document.getElementById("play-again-button");
    var buttonTests = document.getElementById("tests-button");
    var buttonHome = document.getElementById("home-button");
    var buttonStartGame = document.getElementById("start-game-button");

    buttonPlayAgain.style.display = "none";
    buttonTests.style.display = "none";
    buttonHome.style.display = "none";
    buttonStartGame.style.display = "inline";

    modal.style.display = "block";
    modalText.innerHTML = "Καλώς ήρθες στο διαδραστικό παιχνίδι μέ τα συννεφάκια. Εξαφάνησε τα συνεφάκια λύνωντας της πράξης μέσα τους και μην τα αφήσεις να ακουμπίσουν το τέλος του πίνακα";
</script>
