
@{
    ViewBag.Title = "Index";
}
@Html.Partial("../Shared/StudentViews")
<style>
    .card-game {
        width: 40%;
        border: 5px solid black;
        padding-top: 40%;
        float: left;
        margin-left: 5%;
        margin-right: 5%;
        transition:.6s;
        background-color:white;
        border-radius:10px;
    }
    .card-game:hover {
        transform:scale(1.1);
    }
    .card-game-container{
        margin:auto;
        
        height:80%;
    }
</style>
<h2>Παίχνιδια εκμάθησης</h2>
<h4>Παρακάτω μπορεις να παίξει ενα απο τα διαδραστικά παιχνίδια εκμάθησης μας!</h4>
<div class="card-game-container">
    <div class="card-game">

    </div>
    <div class="card-game">

    </div>
</div>