@{
    ViewBag.Title = "Home Page";
}

<div id="container">
    <div>
        <div id="img_container"></div>
        <div id="speech_bubble">
            <div id="speech_bubble_text">
            </div>
            <button onclick="changeTextPrevious()" class="btn" style="border: none; background: none" id="back_button" width="70px"><img src="../Content/Images/arrow.png" width="50px" style="transform: scaleX(-1);"></button>
            <button onclick="changeTextNext()"  class="btn" style="border:none;background:none" id="forward_button" width="70px"><img src="../Content/Images/arrow.png" width="50px"></button>
        </div>
    </div>
    
</div>
<script>

    var counter = 0;
    var toggled = false;
    document.getElementById("back_button").disabled = true;
    const text = ["<h4>Καλως ήρθες στον ιστότοπο μας!<br><br> Εδώ μπορείς να παίξεις παιχνίδια και να δοκιμάσεις τις γνώσεις σου!</h4>", "<h4>Για να παίξεις τα παιχνίδια μας και να κερδίσεις ποντους πρέπει να έχεις λογαριασμό!<br></h4>", "<h4>Συνδέσου εδώ<br></h4>"];
    document.getElementById("speech_bubble_text").innerHTML = text[0];
    document.getElementById("forward_button").classList.add("zoom");
    document.getElementById("back_button").classList.add("disabled");
    function changeTextNext() {
        if (counter < text.length - 1) {
            counter++;
            document.getElementById("speech_bubble_text").innerHTML = text[counter];
            document.getElementById("back_button").disabled = false;
            document.getElementById("back_button").classList.remove("disabled");

            document.getElementById("back_button").classList.add("zoom");
            if (counter == text.length - 1) {
                document.getElementById("forward_button").disabled = true;
                document.getElementById("forward_button").classList.add("disabled");

                document.getElementById("speech_bubble_text").innerHTML += "<button class='btn btn-primary'>Συνδέσου τώρα!</button";
                document.getElementById("forward_button").classList.remove("zoom");
            }
        }


    }
    function changeTextPrevious() {
        if (counter > 0) {
            counter--;
            document.getElementById("speech_bubble_text").innerHTML = text[counter];
            document.getElementById("forward_button").classList.add("zoom");
            document.getElementById("forward_button").disabled = false;
            document.getElementById("forward_button").classList.remove("disabled");

            if (counter == 0) {
                document.getElementById("back_button").disabled = true;
                document.getElementById("back_button").classList.add("disabled");
                document.getElementById("back_button").classList.remove("zoom");
            }
        }
    }
    function toggle() {
        if (toggled) {
            document.getElementById("slider").classList.remove("closed");
            document.getElementById("hint_button").style.visibility = 'hidden';
            toggled = false;
        }
        else {
            document.getElementById("slider").classList.add("closed");
            setTimeout(function () { document.getElementById("hint_button").style.visibility = 'visible';}, 450);
               
            toggled = true;

        }
    }
</script>
