
<h1>Θεωρία</h1>
<hr />

@Html.Raw(ViewBag.data)

<h3>Πολλαπλασιασμός</h3>
<hr />
<div>
    <p>
        <img src="~/Content/Images/Multiplication_Addition_Example.png" />
    </p>
    <p>
        <img src="~/Content/Images/Multiplication_Apples_1_Example.png" />
        <img src="~/Content/Images/Multiplication_Apples_2_Example.png" />
    </p>
</div>

<h3>Προπαίδεια</h3>
<hr />