
@model Test

@if (Session["is_teacher"] == null)
{
    <br />
    <div>
        Δεν είσαι συνδεδεμένος, συνδέσου για να αποθηκευτούν τα αποτελέσματά σου.
    </div>
    <br />
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <table class="table">
        @for (int i = 0; i < Model.questions.Count; i++)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => m.questions[i].question)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.questions[i].given_answer, new { required = true })
                </td>
            </tr>
        }
    </table>

    if (ViewBag.error != null)
    {
        <div class="text-danger">
            @ViewBag.error
        </div>
    }

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Submit Answers" class="btn btn-primary" />
        </div>
    </div>
}
